[submodule "core/vendor/yaml-cpp"]
	path = TwoD/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "TwoD/vendor/glm"]
	path = TwoD/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "TwoD/vendor/spdlog"]
	path = TwoD/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "TwoD/vendor/yaml-cpp"]
	path = TwoD/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "TwoD/vendor/freetype"]
	path = TwoDLib/vendor/freetype
	url = https://github.com/freetype/freetype.git
[submodule "TwoDLib/vendor/msdf-atlas-gen"]
	path = TwoDLib/vendor/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen.git
[submodule "TwoD/vendor/imgui"]
	path = TwoD/vendor/imgui
	url = https://github.com/ocornut/imgui.git
