#binaries

**/bin/
**/bin-int/
Intermediates/


#visual studio files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

#imgui
imgui.ini

!vendor/
!vendor/premake/
!vendor/premake/bin/
!vendor/premake/bin/premake5.exe